.container {
  position: relative;
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.middleRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
