.container {
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.heading1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding-left : 50px;
  margin: '3rem';
  justifyContent: 'space-between';
}

.heading2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin: '3rem';
  justifyContent: 'space-between';
}

.heading3 {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin: '3rem';
  justifyContent: 'space-between';
}

.heading4 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  margin: '3rem';
  justifyContent: 'space-between';
}

.courselist {
  font-size: 1.2rem;
  list-style-type: disc;
  margin: 0;
  padding: 0;
  margin: '3rem';
  justifyContent: 'space-between';
}

.courselist li {
  margin-bottom: 5px;
  padding-left: 20px;
  margin: '3rem';
  justifyContent: 'space-between';
}


